{{> menu active="user"}}

<section class="section">
  <h1 class="title">Hi {{firstName}} {{lastName}}, welcome back.</h1>
  <br>
  <h1 class="title is-size-5">Edit Information</h1>
  <form action="/user/update" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" value={{firstName}} name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" value={{lastName}} name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" value={{email}} name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter New Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Update Info</button>
    </div>
  </form>
</section>

<script>
  const params = new URLSearchParams(window.location.search);//Reads the current URL’s query string (like ?updated=true)
  console.log("Params:", params);
  if (params.get("updated") === "true") {
    alert("User information updated successfully!"); 

    // Remove the query param from the URL without reloading the page
    const originalUrl = window.location.origin;
    console.log("Original URL:", originalUrl);
    const currentPath = window.location.pathname;
    console.log("Current Path:", currentPath);
    const newUrl = `${originalUrl}${currentPath}`; // Construct the new URL without query params
    console.log("New URL:", newUrl);
    window.history.replaceState({}, document.title, newUrl);  
  }

</script>




